<nav>
    <ul class="flex items-center justify-between gap-6 px-30 py-4 bg-blue-400 text-blue-50 font-neue text-3xl"> 
        <li><a href="{% url 'index'%}" class="hover:underline">Inicio</a></li>
        <li><a href="{% url 'subir_trimmomatic'%}" class="hover:underline">Ejecutar trimmomatic</a></li>
        <li><a href="{% url 'ejecutar_fastqc' %}" class="hover:underline">Ejecutar FASTQC</a></li>
        <li><a href="{% url 'crear_historia' %}" class="hover:underline">Crear historia</a></li>
        <li><a href="{% url 'subir_archivo'%}" class="hover:underline">Subir archivo</a></li>
    </ul>
</nav>