<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analizar - FASTQC</title>
</head>
<div>
    <body>
        <table class="min-w-full bg-white border border-b-blue-400 shadow-xl">
            <thead class="">
                <tr>
                    <th>
                        Metrica
                    </th>
                    <th>
                        Valor
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for key, value in metricas.items %}
                <tr>
                    <td>
                        {{key}}
                    </td>
                    <td>
                        {{ value }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
    </html>
</div>