<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Prueba QUAST</title>
</head>
<body>

    <h2>Prueba ejecutar_quast</h2>

    <form method="post">
        {% csrf_token %}

        <label>History ID:</label><br>
        <input type="text" name="history_id"><br><br>

        <label>Dataset ID 1 (Spades):</label><br>
        <input type="text" name="dataset_1"><br><br>

        <label>Dataset ID 2 (Velvet):</label><br>
        <input type="text" name="dataset_2"><br><br>

        <button type="submit">Ejecutar QUAST</button>
    </form>

</body>
</html>
