{% extends "layout/indexview.html" %}

{% block 'title' %}
Subir archivo
{% endblock 'title' %}

{% block 'content' %}

    <section class="bg-gray-50 flex justify-center">

        <div class="bg-white shadow-lg rounded-lg p-8 w-full max-h-80 max-w-md space-y-6">
            <form method="POST" enctype="multipart/form-data" class="space-y-4">
                {% csrf_token %}
                <div>
                    <label for="archivo" class="block text-sm font-medium text-gray-700">Selecciona un archivo</label>
                    <input type="file" name="archivo" id="archivo" required
                    class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm">
                </div>
                <div>
                    <label for="history_id" class="block text-sm font-medium text-gray-700">ID de la historia:</label>
                    <select name="history_id" required class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm">
                        <option value="">Selecciona una historia...</option>
                        {% for historia in historias %}
                            <option value="{{ historia.id }}">{{ historia.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button type="submit" 
                            class="mt-3 w-full bg-blue-400 text-white font-semibold py-2 px-4 rounded hover:bg-blue-500 transition">
                        Subir a Galaxy
                    </button>
                </div>
            </form>
        </div>

    
    
    </section>

    <h2>Lista de Historias:</h2>

    <section class="bg-gray-50 min-h-1/2">
    

        <ul class= "space-y-5 space-x-20">
            {% for history in historias %}
                <li class="p-5 rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-200 border-l-4 bg-blue-50 text-blue-800">
                    <label for="">{{history.name}}</label></br>
                    <label for="">
                        <strong>ID:</strong> {{ history.id }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </section>


{% endblock 'content' %}
