{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma - {% block 'title' %}{% endblock 'title' %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% block 'styles' %}{% endblock 'styles' %}
</head>
<body>
    {% include "layout/partials/mainform.html" %}
    <main class="max-w-4xl mx-auto px-4 py-8 space-y-2">

    {% block 'content' %}
    
    {% endblock 'content' %}
    </main>
    {% block 'scripts' %}


    {% endblock 'scripts' %}
</body>
</html>